* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    margin-bottom: auto;
    gap: 20px;

    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 5px;
}

.button {
    width: 100%;
    padding: 8px 6px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}